<h1>タスク新規作成</h1>
<%= form_with model: [@board, @task] do |form| %>
  <div>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.text_area :detail %>
  </div>
  <div>
    <%= form.datetime_field :dead_line %>
  </div>
  <div>
    <%= form.collection_select :status_id, :id, Status.all, :id, :status %>
  </div>
  <div>
    <%= form.submit "作成"%>
  </div>
<% end %>
