<div class="background-base p-5">
  <div class="m-auto p-2 lg:w-2/3">
    <div class="block lg:flex justify-end lg:space-x-2 p-1">
      <div><%= link_to 'タスク編集', edit_boardgroup_board_task_path(params[:boardgroup_id], params[:board_id], params[:id]), class: "block btn-base" %></div>
      <div><%= link_to 'タスク削除', boardgroup_board_task_path(params[:boardgroup_id], params[:board_id], params[:id]), method: :delete, class: "block btn-base" %></div>
    </div>
    <div class="space-y-4">
      <h2 class="text-3xl"><%= @task.title %></h2>
      <div class="rounded-xl text-left bg-gray-200 shadow-lg">
        <div class="rounded border-b-1 bg-gray-600 p-1 shadow-md"><p class="text-white">詳細</p></div>
        <div class="h-auto p-1 prose">
          <%= markdown(@task.detail) %>
        </div>
        <div class="bg-gray-600 p-1 shadow-md"><p class="text-white">締切</p></div>
        <div class="h-auto p-1">
          <%= @task.dead_line %>
        </div>
        <div class="bg-gray-600 p-1 shadow-md"><p class="text-white">作成日時</p></div>
        <div class="h-auto p-1"><%= @task.created_at %></div>
        <div class="bg-gray-600 p-1 shadow-md"><p class="text-white">更新日時</p></div>
        <div class="p-1">
          <%= @task.updated_at %>
        </div>
      </div>
    </div>
  </div>
</div>
