<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <title>TaskControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="<%= ENV['APP_HOST'] %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="TOP"/>
    <meta property="og:description" content="あなたのタスクを視覚的に管理・共有します！"/>
    <meta property="og:site_name" content="TaskControl"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@kaito071831"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-gray-300">
    <div>
      <%= render "shared/header" %>
    </div>
    <div class="h-[calc(100vh-2rem)] pt-[5rem]">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
