<!DOCTYPE html>
<html>
  <head>
    <title>TaskControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-300">
    <div>
      <%= render "shared/header" %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="min-h-[calc(100vh-7rem)]">
      <%= yield %>
    </div>
    <div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
