<!DOCTYPE html>
<html>
  <head>
    <title>TaskControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-gray-300">
    <div>
      <%= render "shared/header" %>
    </div>
    <div class="h-[calc(100vh-2rem)] pt-[5rem]">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
