<h1>ボード一覧</h1>
<%= link_to 'ボード作成', new_boardgroup_board_path(params[:id]) %>
<%= link_to 'グループ編集', edit_boardgroup_path(params[:id]) %>
<%= link_to 'グループ削除', boardgroup_path(params[:id]), method: :delete %>
<%= link_to '共有設定', boardgroup_team_path(params[:id], @destroy_team.ids) %>
<% @board.each do | bd | %>
  <%= link_to bd.title, boardgroup_board_path(bd.boardgroup_id, bd.id) %>
<% end %>
