<div class="h-full text-center bg-gray-300">
  <div class="m-auto p-2 lg:w-2/3">
    <h1 class="text-3xl">ボード一覧</h1>
    <div class="py-3 grid lg:flex grid-cols-2 lg:justify-end lg:space-y-0 lg:space-x-1">
      <div class="w-11/12 lg:w-full border-none rounded-lg bg-gray-800 p-1 mx-auto lg:m-0 my-1"><%= link_to 'ボード作成', new_boardgroup_board_path(params[:id]), class: "block text-white" %></div>
      <div class="w-11/12 lg:w-full border-none rounded-lg bg-gray-800 p-1 mx-auto lg:m-0 my-1"><%= link_to 'グループ編集', edit_boardgroup_path(params[:id]), class: "block text-white" %></div>
      <div class="w-11/12 lg:w-full border-none rounded-lg bg-gray-800 p-1 mx-auto lg:m-0 my-1"><%= link_to 'グループ削除', boardgroup_path(params[:id]), class: "block text-white", method: :delete %></div>
      <div class="w-11/12 lg:w-full border-none rounded-lg bg-gray-800 p-1 mx-auto lg:m-0 my-1"><%= link_to '共有設定', boardgroup_team_path(params[:id], @destroy_team.ids), class: "block text-white" %></div>
    </div>
    <% @board.each do | bd | %>
      <div class="border-solid rounded-sm border border-black text-left p-1 bg-gray-200">
        <%= link_to bd.title, boardgroup_board_path(bd.boardgroup_id, bd.id), class: "block w-full underline" %>
        <p>ボード作成日時:<%= bd.created_at %></p>
      </div>
    <% end %>
  </div>
</div>
