<div class="h-full text-center bg-gray-300">
  <div class="m-auto p-2 lg:w-2/3">
    <h1 class="text-3xl">ボード一覧</h1>
    <div class="py-3 grid lg:flex grid-cols-2 lg:justify-end lg:space-y-0 lg:space-x-1">
      <div class="mx-auto w-11/12 lg:w-full my-1 lg:my-0"><%= link_to 'ボード作成', new_boardgroup_board_path(params[:id]), class: "block btn-base" %></div>
      <div class="mx-auto w-11/12 lg:w-full my-1"><%= link_to 'グループ編集', edit_boardgroup_path(params[:id]), class: "block btn-base" %></div>
      <div class="mx-auto w-11/12 lg:w-full my-1"><%= link_to 'グループ削除', boardgroup_path(params[:id]), class: "block btn-base", method: :delete %></div>
      <div class="mx-auto w-11/12 lg:w-full my-1"><%= link_to '共有設定', boardgroup_team_path(params[:id], @destroy_team.ids), class: "block btn-base" %></div>
    </div>
    <% @board.each do | bd | %>
      <div class="content-box">
        <%= link_to bd.title, boardgroup_board_path(bd.boardgroup_id, bd.id), class: "block w-full underline" %>
        <p>ボード作成日時:<%= bd.created_at %></p>
      </div>
    <% end %>
  </div>
</div>
